<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>To-do List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>ToDo App</h1>
        <a th:href="@{/listTodo}" class="btn btn-primary">Xem danh sach</a>
        <a th:href="@{/addTodo}"> + Them cong viec</a>
    </body>
</html>
